*.dat
*.zip
*.csv
*.deb
*.gz
*.log
*.dump
*.pcap
*.cap
*.swp
# Build and Release Folders
src/
pkg/
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/
.vagrant/
students/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

ltmain.sh

# nested git repos
Suricata/docker/dalton/dalton/

# stuff that will be worked on during class
Suricata/vagrant/multihost/states/top.sls
Suricata/vagrant/multihost/states/test.sls
Suricata/vagrant/multihost/pillar
