elasticsearch:
  config:
    cluster:
      name: 'josephine'
    http:
      enabled: true
      host: 127.0.0.1
    discovery:
      zen:
        ping:
          unicast:
            hosts:
              - 192.168.56.131
    network:
      host: 0.0.0.0

fpc:
  minion-xenial: enp0s3
  minion-jessie: eth0
